### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Heros of Pymoli Data Analysis
#Male percentage is 84% while feamle is 15%
# Average purchase per person is slighly higher for females than males 
#Age group 5 to 22 amounts for 86% of the player
#Age group 20-24 had maximum total purchases. However the normalized total purchases is highe for age group 34-39
# Top 5 spenders have total purchase value close to $9
#Most popular item was the most profitable (Oathbreaker, Last Hope of the Breaking Storm)

In [158]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data = purchase_data.drop_duplicates(subset=['SN'],keep='first')

## Player Count

* Display the total number of players

In [159]:
player_demo = purchase_data.loc[:,["Gender","SN","Age"]]
player_number = player_demo["SN"].nunique()
#players = player_demo.count()[0]
pd.DataFrame({"total player":[player_number]})

   total player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [160]:
item_id = len(purchase_data["Item ID"].unique())
item_id
avg_price = purchase_data["Price"].mean()
total_num_purchases = purchase_data["Price"].count()
total_purchase_value = purchase_data["Price"].sum()
summary_table = pd.DataFrame({'Number of Unique Items':[item_id],
              "Average Price":[avg_price],
             "Total Purchases":[total_num_purchases],
             "Total Revenue":[total_purchase_value]})
summary_table = summary_table.round(2)
summary_table ["Average Price"] = summary_table["Average Price"].map("${:,.2f}".format)
summary_table ["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)
summary_table ["Total Purchases"] = summary_table["Total Purchases"].map("{:,}".format)
summary_table

   Number of Unique Items Average Price Total Purchases Total Revenue
0                     176         $3.07             576     $1,768.65

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [161]:
total_genders = player_demo["Gender"].value_counts()
total_genders
percent_gender = total_genders/player_number*100
gender_table = pd.DataFrame({"Total Count":total_genders,"Percent Gender":percent_gender})
gender_table = gender_table.round(2)
gender_table

                       Total Count  Percent Gender
Male                           484           84.03
Female                          81           14.06
Other / Non-Disclosed           11            1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [174]:
purchase_data = pd.read_csv(file_to_load)
#purchase_data = purchase_data.drop_duplicates(subset=['SN'],keep='first')

gender_count = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
gender_avg = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_price = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total purchase value")
Average_total_purchase = gender_price/total_genders

gender_table = pd.DataFrame({"Purchase Count":gender_count,
                             "Average Purchase Price":gender_avg,
                             "Total Purchase Value":gender_purchase_total,
                             "Averge total purchase per person":Average_total_purchase})
gender_table = gender_table.round(2)
gender_table ["Average Purchase Price"] = gender_table["Average Purchase Price"].map("${:,.2f}".format)
gender_table ["Total Purchase Value"] = gender_table["Total Purchase Value"].map("${:,.2f}".format)
gender_table ["Averge total purchase per person"] = gender_table["Averge total purchase per person"].map("${:,.2f}".format)
gender_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Averge total purchase per person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [184]:
purchase_data = pd.read_csv(file_to_load)
#purchase_data = purchase_data.drop_duplicates(subset=['SN'],keep='first')
bins =[0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_names =["<10","10-14","`5-19","20-24","25-29","30-34","35-39",">40"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins,labels=bin_names)
#purchase_data = purchase_data.drop_duplicates("SN")
purchase_data
purchase_data1 = purchase_data.groupby("Age Group")
purchase_data1
age_count = purchase_data1["Age"].count()
percent_age = (age_count/player_number)*100
#age_count
percent_age
df_age = pd.DataFrame({"Number of Player":age_count,"Percentage of Players":percent_age})
df_age= df_age.round(2)
df_age

           Number of Player  Percentage of Players
Age Group
<10                      23                   3.99
10-14                    28                   4.86
`5-19                   136                  23.61
20-24                   365                  63.37
25-29                   101                  17.53
30-34                    73                  12.67
35-39                    41                   7.12
>40                      13                   2.26

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [185]:
bins =[0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_names =["<10","10-14","`5-19","20-24","25-29","30-34","35-39",">40"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"],bins,labels=bin_names)

# Run basic calculations
age_purchase_total = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_average = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_counts = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")

# Calculate Normalized Purchasing (Average Purchase Total per Person)
normalized_total = age_purchase_total / age_counts
normalized_total = normalized_total.round(2)
# Convert to DataFrame
age_data = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_average, "Total Purchase Value": age_purchase_total, "Normalized Totals": normalized_total})

# Minor Data Munging
age_data["Average Purchase Price"] = age_data["Average Purchase Price"].map("${:,.2f}".format)
age_data["Total Purchase Value"] = age_data["Total Purchase Value"].map("${:,.2f}".format)
age_data ["Purchase Count"] = age_data["Purchase Count"].map("${:,.2f}".format)
age_data ["Normalized Totals"] = age_data["Normalized Totals"].map("${:,.2f}".format)
                                                             
age_data.head(8)

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Ranges,,,,
<10,$23.00,$3.35,$77.13,$3.35
10-14,$28.00,$2.96,$82.78,$2.96
`5-19,$136.00,$3.04,$412.89,$3.04
20-24,$365.00,$3.05,"$1,114.06",$3.05
25-29,$101.00,$2.90,$293.00,$2.90
30-34,$73.00,$2.93,$214.00,$2.93
35-39,$41.00,$3.60,$147.67,$3.60
>40,$13.00,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [201]:
purchase_data = pd.read_csv(file_to_load)
df1= purchase_data.groupby("SN").agg({"Price":["sum","mean"],"Item ID":"count"})
df1.columns=['Total Purchase Values','Average Purchase Price','Purchase Count']
df1.columns=['_'.join(tup).rstrip('_') for tup in df1.columns.values]
df1.columns = ['Total Purchase Values','Average Purchase Price','Purchase Count']
df1=df1.round(2)
df1 ["Total Purchase Values"] = df1["Total Purchase Values"].map("${:,.2f}".format)
df1 ["Average Purchase Price"] = df1["Average Purchase Price"].map("${:,.2f}".format)
df1.sort_values("Total Purchase Values", ascending = False).head(5)

             Total Purchase Values Average Purchase Price  Purchase Count
SN
Haillyrgue51                 $9.50                  $3.17               3
Phistym51                    $9.50                  $4.75               2
Lamil79                      $9.29                  $4.64               2
Aina42                       $9.22                  $3.07               3
Saesrideu94                  $9.18                  $4.59               2

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [203]:
def get_first_value(x):
    return(x.tolist()[0])
purchase_data = pd.read_csv(file_to_load)
df1=purchase_data.groupby("Item ID").agg({"Item Name":get_first_value, "Item ID":"count","Price":["mean","sum"]})
df1.columns = ['_'.join(tup).rstrip('_') for tup in df1.columns.values]
df1.columns=['Item Name','Purchase Count','Item Price','Total Purcahse Value']
df1 ["Item Price"] = df1["Item Price"].map("${:,.2f}".format)
df1 ["Total Purcahse Value"] = df1["Total Purcahse Value"].map("${:,.2f}".format)
df1
df1.sort_values("Purchase Count",ascending = False).head(5)

,Item Name,Purchase Count,Item Price,Total Purcahse Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [212]:
def get_first_value(x):
    return(x.tolist()[0])
purchase_data =pd.read_csv(file_to_load)
df1 = purchase_data.groupby("Item ID").agg({"Item Name":get_first_value,"Item ID":"count","Price":["mean","sum"]})
df1.columns = ['_'.join(tup).rstrip('_') for tup in df1.columns.values]
df1.columns = ['Item Name','Purchase_Count','Item Price','Total Purchase Value']
df1["Item Price"] = df1["Item Price"].map("${:,.2f}".format)
df1["Total Purchase Value"] = df1["Total Purchase Value"].map("${:,.2f}".format)
df1.columns
df1.sort_values("Purchase_Count", ascending = False).head()

,Item Name,Purchase_Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16